.footer {
    font-size: 14px;
    // border-bottom: 3px solid $color-primary;

    // background-color: #17191c;
    background: linear-gradient(to right, rgb(5 8 25) 0%, rgb(14 27 80) 100%);

    // background-size: 10px 3px;

    // &-container {
    //     max-width: 50%;

    //     @include viewport-md {
    //         max-width: 100%;
    //     }
    // }

    &__contact {
        &-icon {
            color: #97a0af;
        }
    }
    
    &-social {
        // margin-top: 1rem;
        a {
            color: #97a0af;
            margin-right: 1.5rem;
            // padding: 1rem;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    &-listLast {
        > li:nth-child(even) > a {
            @include viewport-sm {
                border-right: 0 !important;
            }
        }
    }
}
