button:focus,
.btn:focus {
    outline: 0;
    box-shadow: none;
}

button[disabled] {
    border: 1px solid #ccc;
    color: #8a8a8a;
    background-color: #ccc;
}

.button-primary {
    border: 1px dotted transparent;
    font-size: 14px;
    background-color: $colorSecondary;

    i {
        transition: 0.25s linear;
    }

    &:hover {
        border-color: $colorSecondary;
        color: $colorSecondary !important;
        background-color: $colorWhite;

        i {
            transform: translateX(4px);
        }
    }
}
