<div class="d-flex justify-content-center align-items-center bg-white" style="height: 100vh;">
	<div class="position-relative">
		<img [src]="logo" width="100px"
			style="position: absolute;top: calc(50%); transform: translateY(-50%);right: calc(50% - 50px);" />
		<img [src]="loadingCircle" width="180px" />
	</div>
</div>