// @import 'src/styles/abstracts/colors';
// @import 'src/styles/abstracts/responsive';

// // .scrollTop {
// //     --size: 32px;
// //     right: 40px;
// //     bottom: 60px;
// //     width: var(--size);
// //     height: var(--size);
// //     line-height: var(--size);
// //     z-index: 3;
// //     display: none;

// //     @include viewport-sm {
// //         right: 20px;
// //         bottom: 30px;
// //     }
// //     &__icon {
// //         &::before {
// //             content: '';
// //             position: absolute;
// //             top: 0;
// //             right: 0;
// //             width: 100%;
// //             height: 100%;
// //             background-color: $color-primary;
// //             transform: rotate(45deg);
// //             box-shadow: 1px 1px 5px #00000057;
// //             z-index: -1;
// //         }
// //         &:hover > i {
// //             transform: translateY(-4px);
// //         }
// //         > i {
// //             font-size: 18px;
// //             transition: 0.25s;
// //         }
// //     }
// // }

// // .social-fixed {
// //     $size: 32px;
// //     top: 50%;
// //     right: 0;
// //     transform: translateY(-50%);
// //     z-index: 3;

// //     > a {
// //         width: $size;
// //         height: $size;
// //         line-height: $size;
// //         display: block;
// //         text-align: center;
// //         font-family: 15px;
// //         overflow: hidden;

// //         &:first-child {
// //             border-top-left-radius: 6px;
// //         }
// //         &:last-child {
// //             border-bottom-left-radius: 6px;
// //         }
// //     }

// //     &__facebook {
// //         background-color: #3b5998;
// //     }
// //     &__zalo {
// //         background-color: #028fe3;
// //     }
// //     &__mail {
// //         background: -webkit-linear-gradient(top, #1a51f0 0%, #03e4fe 100%);
// //     }
// //     &__phone {
// //         background: -webkit-linear-gradient(top, #86fe65 0%, #06d315 100%);
// //     }
// // }

/*----- Go Top -----*/
.go-top {
  position: fixed;
  // position: absolute;
  cursor: pointer;
  bottom: 40px;
  right: 0;
  color: #fff;
  background-color: var(--color-primary);
  z-index: 4;
  width: 40px;
  text-align: center;
  height: 40px;
  opacity: 0;
  // font-size: 14px;
  visibility: hidden;
  // -webkit-transition: 0.9s;
  // transition: .9s;
  transition: 0.2s linear;
  border-radius: 50%;
  border: 1px solid var(--color-primary);

//   @include responsive.screen-desktop {
//     bottom: 105px;
//   }
}

.go-top i {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: 0 auto;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  font-size: 20px;
  line-height: 40px;
}

.go-top i:last-child {
  opacity: 0;
  visibility: hidden;
  top: 60%;
}

.go-top.active {
  right: 1%;
  -webkit-transform: translateY(-1%);
  transform: translateY(-1%);
  opacity: 1;
  visibility: visible;
}

.go-top:hover {
  color: #fff;
  border: 1px solid #f3a138;
  background-color: #f3a138;
}

.go-top:hover i:first-child {
  opacity: 0;
  top: 0;
  visibility: hidden;
}

.go-top:hover i:last-child {
  opacity: 1;
  visibility: visible;
  top: 50%;
}
