<div class="card">
    <div class="card-header">
        <strong>{{ 'settings.' + translateTitle | translate }}</strong>
        <div class="float-md-right d-flex">
            <div class="input-group input-group-sm">
                <input type="text" (keyup)="cwstable._search()" [(ngModel)]="cwstable.search.value" class="form-control"
                    placeholder="{{'search.lblList'|translate}}">
            </div>

        </div>
    </div>
    <div style="overflow-x:auto;">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th *ngFor="let col of cwstable.cols" (click)="cwstable._sorting(col.field)"
                        [ngClass]="{ 'sorting' : cwstable.sorting.field==col.field ,'cursor-pointer': col.filter==true  , 'd-none' : col.show==false }">
                        <div [(ngSwitch)]="col.field">
                            <span *ngSwitchDefault>{{col.title | translate }}</span>
                            <i *ngIf="cwstable.sorting.field==col.field" class="fa"
                                [ngClass]="{ 'fa-long-arrow-down' : cwstable.sorting.sort=='asc' , 'fa-long-arrow-up' : cwstable.sorting.sort=='desc' }"></i>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of cwstable.data, let i=index">
                    <td *ngFor="let col of cwstable.cols" [ngClass]="{ 'd-none' : col.show==false }">
                        <div [(ngSwitch)]="col.field">
                            <span *ngSwitchCase="'index'">
                                {{i+1}}
                            </span>
                            <span *ngSwitchCase="'name'">
                                <a [routerLink]="['../update/',item.id]">
                                    {{item[col.field]}}
                                </a>
                            </span>
                            <span *ngSwitchCase="'maker_date'">
                                {{item[col.field]| date: 'dd/MM/yyyy' }}
                            </span>
                            <span *ngSwitchCase="'action'" class='display-action text-right'>
                                <button class="btn btn-link btn-sm "
                                        (click)="changePin(item.id,+item.pin)"
                                        [ngClass]="+item.pin == 1 ?'text-success':'text-danger'">
                                    <i class="fas fa-thumbtack"
                                       style="transform: rotate(45deg);"> </i>
                                </button>
                                
                                <button class="btn btn-link btn-sm " (click)="changeStatus(item.id,+item.status)"
                                    data-toggle="tooltip" data-placement="top" title="{{'btn.action' | translate}}"
                                    [ngClass]="+item.status == 1 ?'text-success':'text-danger'">
                                    <i *ngIf="+item.status == 1" class="fas fa-circle"
                                        style="transform: rotate(45deg);"> </i>
                                    <i *ngIf="+item.status == 0" class="far fa-circle"
                                        style="transform: rotate(45deg);"></i>
                                </button>

                                <button class="btn btn-link btn-sm " [routerLink]="['../update/',item.id]">
                                    <i class="fas fa-pencil-alt text-dark"></i>
                                </button>
                                <button class="btn btn-link btn-sm " (click)="onRemove(item)">
                                    <i class="fas fa-trash text-danger"></i>
                                </button>
                            </span>
                            <span *ngSwitchDefault>{{item[col.field]}}</span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer">
        <div class="float-md-left">
            <span>
                <a (click)="cwstable._previousnext(false)" style="padding : 3px 5px;">
                    <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                </a>
                <span>{{ cwstable.settings.first }} - {{ cwstable.settings.last }} of
                    {{ cwstable.settings.total }}</span>
                <a (click)="cwstable._previousnext(true)" style="padding : 3px 5px;">
                    <i class="fa fa-angle-double-right"></i>
                </a>
            </span>
        </div>

    </div>
</div>
<div class="fixed-action-btn text-center">
    <a [routerLink]="['../insert']" class="text-white " style="text-decoration: none">
        <div class="getlistadd d-flex align-items-center justify-content-center">
            <i class="fas fa-plus text-white"></i>
        </div>
    </a>
</div>