<app-slide></app-slide>

<section class="services">
    <!-- <div class="container"> -->
    <!-- <div class="partner-slider"> -->
    <!-- <owl-carousel-o [options]="services.options">
        <ng-container *ngFor="let service of services.data.list | slice:0:6">
            <ng-template carouselSlide> -->
    <div class="d-flex flex-wrap flex-lg-nowrap">
        <div class="services__item pr-4 pl-3 pt-4 border-right d-flex flex-column justify-content-center"
             *ngFor="let service of services.data.list | slice:0:5">
            <img [lazyLoad]="service.image" defaultImage="https://via.placeholder.com/80x80"
                class="rounded-circle mx-auto" />
            <div class="text-center mt-3">
                <a [routerLink]="['/' + globals.language.getCode() + '/' + (service.parent_link?.length ? (service.parent_link + '/' + service.link) : service.link)]"
                    routerLinkActive="is--active" class="text-decoration-none">
                    <h4 class="services__title font-weight-bold text-center"
                        style="color: var(--color-primary); font-size: 1.2rem;">{{service.name}}</h4>
                </a>
                <p class="color-text">{{service.description?.length ? service.description : '&nbsp;' }}</p>
                <!-- <p class="color-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat reiciendis, ducimus fuga asperiores autem nulla
                        tenetur consequatur tempore, illo quia provident sint laudantium eos, similique quidem! Magni delectus fugiat eveniet?</p> -->
                <!-- <a class="btn btn-sm" [routerLink]="['/' + services.data.link + '/' +  service.link]">
                            {{'FEbtn.more' | translate}}
                        </a> -->
            </div>
        </div>
    </div>
    <!-- </ng-template>
        </ng-container>
    </owl-carousel-o> -->
    <!-- </div> -->
    <!-- </div> -->
</section>

<section class="pages" [style.background-image]="'url(' + analysis.data.images + ')'">
    <div class="container">
        <h2 class="text-center font-weight-bold mb-5" style="color: #f3a138; font-family: Arial;">
            {{analysis.data.name}}
        </h2>

        <div class="row justify-content-center">
            <div *ngFor="let item of pages.data | slice:0:6" class="col-sm-6 col-lg-4 mb-3">
                <div class="pages__item align-items-center bg-white shadow text-center position-relative overflow-hidden ">
                    <a class="text-decoration-none text-dark  "
                        [routerLink]="['/' + item.parent_link?.length ? (item.parent_link + '/' +  item.link) : item.link]">
                        <img [lazyLoad]="item.images" defaultImage="https://via.placeholder.com/350x180"
                            [alt]="item.name" class="img-fluid" />
                        <div class="py-3">
                            <h4 class="font-weight-bold text-uppercase mb-0"
                                style="color: var(--color-primary); font-size: 1rem; font-family: Arial;">{{item.name}}
                            </h4>
                            <!-- <p>{{item.description}}</p> -->
                            <!-- <a class="btn btn-sm" [routerLink]="['/' + item.parent_link?.length ? (item.parent_link + '/' +  item.link) : item.link]">
                                {{'FEbtn.more' | translate}}
                            </a> -->
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- <section *ngIf="about.data.title?.length" class="about" [style.background-image]="'url(' + about.data.background + ')'">
    <div class="container">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-12 col-md-7 col-lg-6 order-1 order-md-0">
                    <h3 class="font-weight-bold color-secondary mb-0">{{ about.data.title }}</h3>
                    <p class="mt-3 mb-0">{{ about.data.description }}</p>

                    <a [routerLink]="['/' + globals.language.getCode() + '/' + about.data.link]"
                        class="button-primary btn btn-sm rounded-0 text-uppercase text-white mt-4 px-4">
                        <span class="mr-2">{{ 'FEbtn.more' | translate }}</span>
                        <i class="fal fa-long-arrow-right"></i>
                    </a>
                </div>

                <div class="col-12 col-md-5 col-lg-6 order-0 order-md-1 text-center text-md-right mb-4 mb-md-0">
                    <img [src]="about.data.images" [alt]="about.data.name" class="img-fluid" />
                </div>
            </div>
        </div>
    </div>
</section> -->