<div class="page-inner bg-light">
    <div class="container">
        <div class="container-fluid " *ngIf="data && +data.type_page == 4">
            <div class="row">
                <div class="col-md-9">
                    <div class="p-3 bg-white">
                        <h5 class="font-weight-bold">{{data.name}}</h5>
                        <div class="d-md-flex">
                            <span class="text-muted font-italic mr-3 mr-md-5 small">
                                <i class="fas fa-calendar-alt mr-2"></i>{{data.maker_date |date:'dd-MM-yyyy'}}
                            </span>
                            <span class="text-muted font-italic mr-3 mr-md-5 small">
                                <i class="far fa-folder-open mr-2"></i>{{ data.parent_name }}
                            </span>
                            <span class="text-muted font-italic small">
                                <i class=" fas fa-eye mr-2"></i>{{ data.views }}
                            </span>
                        </div>
                        <div class="detail-news mt-4">
                            <div class="description font-italic mb-3 p-2 p-md-3 bg-light"
                                *ngIf="data.description && data.description != ''" id="page-detail"
                                [innerHTML]="data.description | sanitizeHtml">
                            </div>
                            <div id="page-detail" *ngIf="data.detail && data.detail != ''"
                                [innerHTML]="data.detail | sanitizeHtml">
                            </div>
                            <div class="text-right font-italic" *ngIf="data.author && data.author != ''">
                                <span class="mr-2">{{ 'FEContents.author' | translate }}: </span>
                                <span>{{data.author}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 pl-md-0 pt-4 pt-md-0">
                    <div class="right-asidebar">
                        <h3 class="mb-0 text-uppercase">{{ 'FEContents.relatednews'| translate }}</h3>
                        <div class="my-3">
                            <div class="mb-2" *ngFor="let row of data.related;">
                                <box-news-horizontal [language]="language" [input]="row"></box-news-horizontal>
                            </div>
                            <div *ngIf="!data.related || data.related.length == 0">
                                <h6 class="text-center">{{ 'lblUpdating' | translate }}</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>