@import 'src/styles/abstracts/colors';

.right-asidebar {
    position: relative;
    margin-bottom: 30px;
    position: sticky;
    top: 100px;

    h3 {
        background-color: $color-primary;
        padding-left: 40px;
        color: #fff;
        font-size: 14px;
        font-weight: 600;
        padding: 15px;
    }
}

.description {
    border: 1px dashed rgb(48, 47, 47);
}
