// /* Colors rules */

$color-primary: #0b497e;


$colorSecondary: #bb191b;
$colorWhite: #fff;
$colorText: #525252;
// $colorHeaderIcon: #479cf6;
$bgFooter: #010f27;
$borderPrimary: #cfcfcf;

.color-primary {
    color: $color-primary;
}

.color-primary--hover:hover {
    color: $color-primary;
}

.color-secondary {
    color: $colorSecondary;
}

.color-text {
    color: $colorText;
}

.is--active {
    color: $color-primary !important;
}
