/* Mixins */

@mixin line-clamp($line) {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $line;
    text-overflow: ellipsis;
    white-space: normal;
    overflow: hidden;
}

@mixin position($w, $h, $t, $r, $b, $l, $z) {
    content: '';
    position: absolute;
    width: $w;
    height: $h;
    top: $t;
    right: $r;
    bottom: $b;
    left: $l;
    z-index: $z;
}
