// /* Home */

// .about {
//     background-size: cover;
//     background-attachment: fixed;
//     background-repeat: no-repeat;
//     border-bottom: 1px dashed $colorSecondary;
//     border-top: 1px dashed $colorSecondary;
//     padding: $innerHome 0;
//     @include viewport-sm {
//         padding: ($innerHome / 2) 0;
//     }
// }

// .slide {
//     .active &-description {
//         animation: slideUp 0.67s ease-out;
//     }

//     .active &-title {
//         animation: slideUp 1s ease-out;
//     }

//     .active .button-primary {
//         animation: slideDown 1.67s ease-out;
//     }

//     .owl-nav {
//         .owl-prev,
//         .owl-next {
//             opacity: 0.5;
//             margin: 0 2.6875rem !important;
//             img {
//                 max-width: 48px;
//             }
//         }

//         .owl-prev:hover,
//         .owl-next:hover {
//             opacity: 1;
//         }
//     }

//     .owl-dots {
//         --dotSize: 16px;
//         right: 4.6875rem;
//         bottom: 1.5rem !important;
//         left: 50%;
//         transform: translateX(-50%);
//         justify-content: center;

//         span {
//             background-color: transparent !important;
//             transition: 0.25s ease-out !important;
//             width: var(--dotSize) !important;
//             height: var(--dotSize) !important;
//         }

//         .active > span {
//             background-color: $borderPrimary !important;
//         }
//     }
// }

// .products {
//     padding: $innerHome 0;
//     @include viewport-sm {
//         padding: ($innerHome / 1.5) 0;
//     }

//     .owl-stage {
//         padding-bottom: 5px;
//     }

//     .owl-dots {
//         --dotSize: 20px;
//         right: 4.6875rem;
//         bottom: -35px !important;
//         left: 50%;
//         transform: translateX(-50%);
//         justify-content: center;

//         .owl-dot > span {
//             width: 16px !important;
//             height: 16px !important;
//             background-color: $colorWhite !important;
//             border: 1px solid $color-primary !important;
//         }

//         .owl-dot.active > span {
//             background-color: $color-primary !important;
//         }
//     }
// }
@import 'src/styles/abstracts/mixins';
@import 'src/styles/animations';

.services {
    box-shadow: 0 5px 5px -5px rgb(9 30 66 / 10%);

    &__item img {
        transition: all 0.33s linear;
    }

    &__item {
        transition: background-color 0.3s ease;
        width: 20%;

        @include viewport-sm {
            width: 100%;
                box-shadow: 0 5px 5px -5px rgb(9 30 66 / 10%);

        }
    }

    &__item:hover {
        background-color: var(--color-primary);
        transition: background-color 0.3s ease;

        img {
            transform: translateY(-5px);
        }

        h4 {
            color: #f99a39 !important;
        }

        p {
            color: white;
        }
    }

    p {
        @include line-clamp(2);
    }
    img {
        width: 80px !important;
        height: 80px;
        // left: 50%;
        // top: -40px;
        // transform: translateX(-50%);
        // z-index: 1000;
    }

    &__title {
        @include line-clamp(2);
        transition: all 0.33s;
    }
}

.pages {
    padding: 100px 0;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &__item {
        transition: all 0.3s ease;

        &::before {
            @include position(33%, 100%, 0, unquote(''), unquote(''), -67%, unquote(''));
            background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
            transform: skewX(-25deg);
            z-index: 0;
        }

        &:hover {
            background-color: var(--color-primary) !important;
            transform: translateY(4px);

            h4 {
                color: #fff !important;
            }

            &::before {
                animation: shineBefore 1s;
                z-index: 1;
            }
        }
    }

    @keyframes shineBefore {
        to {
            left: 100%;
        }
    }
}
