.page {
    &-list-group {
        &-container {
            // box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;

            background-color: #f5f6fa;

            > div > a.page-list-group__item {
                background-color: transparent !important;

                &.active,
                &:hover {
                    color: white !important;
                    background-color: #0b497e !important;
                }
            }
        }

        &__heading {
            border-left: 3px solid $color-primary;
        }

        &__item {
            transition: 0.1s;

            &:hover {
                color: $colorWhite !important;
                background-color: $color-primary;
            }

            &.active {
                z-index: unset;
                color: white !important;
                background-color: #0b497e !important;
            }
        }
    }
}
