.title-page h2 {
    font-size: 32px;
    font-weight: 600;
}

.title-page p {
    font-size: 15px;
}

@media (max-width: 415px) {
    .title-page h2 {
        font-size: 25px;
        font-weight: 600;
    }
}

.breadcrumb-item a {
    color: #212529;
}

.breadcrumb .active {
    color: var(--hover-text-color);
}

.breadcrumb-item a:hover {
    color: var(--hover-text-color);
    text-decoration: none;
}

.breadcrumb-item + .breadcrumb-item::before {
    color: #c1c1c1;
}

.breadcrumb-item-text {
    text-transform: lowercase;
    font-size: 12px;
    color: rgb(105, 103, 103);
}

.breadcrumb-item-text::first-letter {
    text-transform: uppercase !important;
}

.card-body .ng5-slider .ng5-slider-pointer {
    width: 15px;
    height: 15px;
    top: -6px;
    outline: none;
}

.card-body .ng5-slider .ng5-slider-pointer.ng5-slider-active::after {
    background-color: transparent !important;
}

.category {
    .owl-nav {
        .owl-prev,
        .owl-next {
            opacity: 0.2;
        }

        .owl-prev:hover,
        .owl-next:hover {
            opacity: 1;
        }
    }
}

.with-fancybox {
    .compensate-for-scrollbar {
        padding-right: 0;
        overflow-y: scroll !important;
    }

    .fancybox__container {
        .carousel__button.is-close {
            right: -10px;
        }

        .fancybox__content {
            box-sizing: content-box;
            padding: 0.5rem;
            background: #fff;

            border-radius: 6px;
            color: #374151;
            box-shadow: 0 8px 23px rgb(0 0 0 / 50%);
        }

        .fancybox__caption {
            max-width: 80%;
            --fancybox-opacity: 1;
        }
    }
}

.services .owl-carousel .owl-stage {
    padding-left: 0 !important;
}

.menu-fixed {
    top: 70px !important;
    height: calc(100vh - 70px) !important;
}