<figure class="box d-flex align-items-center mb-0">
    <a class="box__img d-block overflow-hidden position-relative mr-2"
        [routerLink]="['/' + globals.language.getCode() + '/' + item.parent_links + '/' + item.parent_link + '/' + item.link]">
        <img [lazyLoad]="item.images" defaultImage="https://via.placeholder.com/100x100" [alt]="item.name" class="rounded-circle"  />
    </a>
    <div class="box-content d-flex flex-column justify-content-around py-2 ml-lg-3 ml-1">
        <a class="box__title font-weight-bold text-decoration-none mb-1"
            [routerLink]="['/' + globals.language.getCode() + '/' + item.parent_links + '/' + item.parent_link + '/' + item.link]">
            {{ item.name }}
        </a>
        <p class="my-2 small">
            {{ item.maker_date | date: 'dd/MM/yyyy' }}
        </p>
        <p class="box__description mb-0">
            {{ item.description }}
        </p>
    </div>
</figure>