@import 'src/styles/abstracts/colors';
@import 'src/styles/abstracts/mixins';
@import 'src/styles/animations';

.box {
  // border-radius: 10px;
  // box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;

  &:hover &__img::before {
    animation: shineBefore 1s;
  }

  &__img {
    width: 100px;
    border-radius: 10px;

    &::before {
      @include position(33%, 100%, 0, unquote(''), unquote(''), -67%, unquote(''));
      background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
      transform: skewX(-25deg);
    }
  }

  &__title {
    // height: 38px;
    line-height: 1.4;
    color: $color-primary;
    @include line-clamp(2);
    font-size: 14px;
  }

  &-group {
    color: $colorText;

    &__title {
      border-radius: 10px;
    }
  }

  &__description {
    height: 48px;
    @include line-clamp(3);
    color: $colorText;
    font-size: 13px;
    line-height: 1.3;
  }

  &-content {
    width: calc(100% - 100px - 1.5rem);
  }
}
