<div class="py-2 py-lg-3 bg-light">
    <div class="container">
        <div class="container-fluid">
            <div class="title-page">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb bg-transparent border-0 m-0 p-0">
                        <li class="breadcrumb-item color-primary--hover" aria-current="page">
                            <a [routerLink]="['/']">
                                {{ 'lblHome' | translate }}
                            </a>
                        </li>
                        <li class="breadcrumb-item is--active" aria-current="page">
                            {{ 'FESearch.title' | translate }}
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="page-inner">
    <div class="container" *ngIf="search.show == 0">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h3 class="title-search text-md-center mb-0">
                        {{ 'FESearch.titleSearch' | translate }}
                        <span>{{ search.name }}</span>
                    </h3>
                </div>
                <div class="col-12 col-md-8 offset-md-2">
                    <h4 class="result-search">{{ 'FESearch.notfound' | translate }}</h4>
                    <p class="m-0">{{ 'FESearch.error' | translate }}</p>
                </div>
            </div>
            <div class="row">
                <div class="input-group pb-4 pt-3 col-md-8 offset-md-2 align-items-center">
                    <input type="text" class="form-control input-search" (keyup.enter)="searchAgain()"
                        [(ngModel)]="search.name" name="search" placeholder="{{ 'FESearch.search'|translate }}"
                        aria-label="" aria-describedby="button-addon2" id="searchAgain">
                    <span style="cursor: pointer;" (click)="searchAgain()">
                        <i class="fas fa-search fa-lg icon-search"></i>
                    </span>
                </div>
                <div class="col-xl-12 text-center">
                    <a class="btn btn-back" [routerLink]="'/'">
                        {{ 'FEbtn.home'|translate }}
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="search.show == 1" class="container">
        <div class="container-fluid">
            <div>
                <h2 class="tit-search mb-2" style="font-size:22px;">{{ 'FESearch.titleSearch' | translate }}
                    {{search.name}}
                </h2>
                <h5 class="result-search" style="font-size:16px;">
                    {{ 'FESearch.amount' | translate : {number : (tableContent.settings.total)}
                    }}
                </h5>
            </div>

            <div class="row">
                <div class="col-12" *ngIf="tableContent.data?.length">
                    <div class="title-border position-relative my-2 my-md-3" id="content-search">
                        <h2 class="mb-0 font-weight-bold text-uppercase d-inline-block">
                            {{ tableContent.data[0].parent_name }}
                        </h2>
                    </div>
                </div>
                <div class="col-lg-10 col-12" *ngFor="let item of tableContent.data; last as last">
                    <!-- <box-content-component [item]="item"></box-content-component> -->
                    <box-news-horizontal [input]="item"></box-news-horizontal>

                    <hr class="my-lg-2 my-1" style="border-color: #f4f5f7;" *ngIf="!last">
                </div>
            </div>
            <div class="row justify-content-end">
                <div *ngIf="tableContent.cached.length > Pagination.itemsPerPage">
                    <pagination class="d-flex justify-content-end mt-4" [previousText]="'FEbtn.previous' | translate"
                        [nextText]="'FEbtn.next' | translate" [totalItems]="tableContent.cached.length"
                        [itemsPerPage]="Pagination.itemsPerPage" [maxSize]="Pagination.maxSize"
                        (pageChanged)="Pagination.changeContent($event)">
                    </pagination>
                </div>
            </div>
        </div>
    </div>
</div>