.br-text::before {
  content     : '';
  margin-right: 10px;
  border-top  : 2px solid #ed1d24;
  width       : 3.125rem;
}


.title-contact h2 {
  font-size: 45px;
}

.info-contact a {
  text-decoration: none;
  color          : #373940;
  display        : block;
}

.title-contact h2,
.title-contact h2 span {
  text-transform: capitalize;
  font-size     : 44px;
}
input:focus,
textarea:focus {
  box-shadow: none !important;
  border    : 1px solid #ed1d24 !important;
}

.form-control:focus {
  box-shadow: none;
}


.social-link {
  display   : inline-block;
  transition: all 0.3s;
  font-size : 18px;
}

.social-link:hover {
  transform   : scale(1.1);
  color       : #fff;
  border-color: #fff;
}


@media (max-width: 1025px) {
  .title-contact p {
    font-size: 17px;
  }
}

@media (max-width: 769px) {}