<!-- Desktop -->
<figure class="box mb-4 bg-white" *ngIf="type == 0">
    <a class="nav-link p-0"
        [routerLink]="['/' + globals.language.getCode() + '/'+ item.parent_links +'/'+ item.parent_link+ '/' +item.link]">
        <div class="box-img">
            <img [defaultImage]="'../../../../assets/img/default.jpg'" [lazyLoad]="item.images" [alt]="item.name"
                width="100%" height="100%">
        </div>
    </a>
    <div class="px-3 py-3">
        <div class="d-flex justify-content-between box-view">
            <span>
                <i class="fal fa-calendar-alt mr-1"></i>
                {{ item.maker_date | date: 'dd/MM/yyyy' }}
            </span>
            <span>
                <i class="fal fa-eye mr-1"></i>
                {{ item.views }}
            </span>
        </div>
        <h6 class="small text-secondary my-2">{{ item.page_name }}</h6>
        <h5 class="box-title">
            <a [routerLink]="['/' + globals.language.getCode() + '/'+ item.parent_links +'/'+ item.parent_link+ '/' +item.link]"
                class="nav-link p-0 text-body">
                {{ item.name }}</a>
        </h5>
        <p class="box-description text-secondary mb-0">{{ item.description }}</p>
    </div>
</figure>

<!-- Mobile -->
<figure class="box box-mobile mb-4 bg-white " *ngIf="type == 1">
    <div class="bg-white d-flex align-items-center">
        <div class="box-img position-relative bg-light">
            <a class="nav-link p-0 h-100"
                [routerLink]="['/' + globals.language.getCode() + '/'+ item.parent_links +'/'+ item.parent_link+ '/' +item.link]">
                <img [defaultImage]="'../../../../assets/img/default.jpg'" [lazyLoad]="item.images" [alt]="item.name"
                    width="100%" height="100%">
            </a>
        </div>
        <div class="box-item-content">
            <div class="card-text p-2 box-content-text">
                <div class="title">
                    <small class="mb-2">{{ item.page_name }}</small>
                    <a class="nav-link p-0 text-body"
                        [routerLink]="['/' + globals.language.getCode() + '/'+ item.parent_links +'/'+ item.parent_link + '/' +item.link]">
                        <span class="box-title-moblie">{{ item.name }}</span>
                    </a>
                </div>
                <div class="align-items-center d-flex justify-content-between pt-2 " style="font-size: 12px;">
                    <div class="mr-2">
                        <i class="far fa-calendar-alt mr-1"></i>
                        <small class="mr-2">{{item.maker_date |date:'dd-MM-yyyy'}}</small>
                    </div>
                    <div class="icon-views">
                        <small><i class="fas fa-street-view mr-1"></i> {{(item.views > 0) ? item.views:0}}</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</figure>