<!-- <div class="menu-mobile bg-white vh-100 position-relative">
    <div class="clearfix hamburger-container">
        <div (click)="_handleCloseOnMobile()" [ngClass]="{'hamburger--open': statusOnMobile}"
            class="hamburger position-relative cursor-pointer float-right">
            <span class="d-block w-100 position-absolute"></span>
            <span class="d-block w-100 position-absolute"></span>
            <span class="d-block w-100 position-absolute"></span>
        </div>
    </div>

    <div>
        <div class="user d-flex align-items-center" *ngIf="globals.CUSTOMER.check() == false">
            <div class="user-info">
                <a (click)="routerLinkUser('dang-nhap')">{{ 'lblUser' | translate }}</a>
                <span class="mx-3">/</span>
                <a (click)="routerLinkUser('doanh-nghiep')">{{ 'lblCompany' | translate }}</a>
            </div>
        </div>
        <div class="user d-flex align-items-center" *ngIf="globals.CUSTOMER.check() == true">
            <div class="mr-3 rounded-circle border d-inline-flex p-3">
                <i class="fal fa-user"></i>
            </div>
            <div class="user-info" (click)="infoUser()">
                <span>
                    Tài khoản
                    <span class="mx-2">/</span>
                </span>
                <span (click)="logout()">Đăng xuất</span>
                <br />
                <span class="user-text font-weight-bold" style="font-size: 20px;">
                    {{ globals.CUSTOMER.get().name }}
                </span>
            </div>
        </div>
    </div>

    <nav class="bg-light navbar flex-column justify-content-between h-100 p-0">
        <ul class="navbar-nav w-100" *ngIf="menu && menu.length > 0">
            <ng-template #recursiveMenu let-menu>
                <li *ngFor="let item of menu; let i = index" [ngClass]="{'active': itemActive == item.id}">
                    <a class="position-relative d-flex align-items-center justify-content-between" href="javascript:;"
                        [ngClass]="['level-' + item.level]"
                        [ngStyle]="{'border-bottom': (i == menu.length -1 && item.level == 2) ? '1px solid #ececec' : ''}">
                        <a *ngIf="item.link_redirect && item.link_redirect !== ''" [href]="item.link_redirect"
                            class="text-truncate" style="text-decoration: none;">
                            <span [ngClass]="item.data.length > 0 && +item.level < 2 ? 'w-75' : 'w-100'">
                                {{item.name}}
                            </span>
                        </a>

                        <span class="text-truncate" *ngIf="!item.link_redirect || item.link_redirect === ''"
                            (click)="routerLink(item)"
                            [ngClass]="item.data.length > 0 && +item.level < 2 ? 'w-75' : 'w-100'">
                            {{item.name}}</span>

                        <i class="fal fa-angle-down" (click)="showItem(item)"
                            [ngClass]="{'active-arrow':  itemActive == item.id}"
                            *ngIf="item.data.length > 0 && +item.level < 2"></i>
                    </a>

                    <div class="dropdown-menu-item" *ngIf="item.data && item.data.length > 0 && +item.level < 2 ">
                        <ng-container *ngTemplateOutlet="recursiveMenu; context: { $implicit: item.data }">
                        </ng-container>
                    </div>
                </li>
            </ng-template>
            <ng-container *ngTemplateOutlet="recursiveMenu; context: { $implicit: menu }">
            </ng-container>
        </ul>
    </nav>

    <div class="nav-social bg-light position-absolute bg-white">
        <nav class="nav flex-column p-3 text-center">
            <li class="nav-item nav-social-phone pt-1"
                *ngIf="('FEPhone' | translate) != 'FEPhone' && ('FEPhone' | translate) != ''">
                <a class="nav-link p-0 text-secondary" [attr.href]="'tel: ' + ('FEPhone' | translate)">
                    <i class="fal fa-phone mr-2"></i>
                    <span>{{ 'FEPhone' | translate }}</span>
                </a>
            </li>
            <li class="nav-item nav-social-mail pt-1"
                *ngIf="('FEMail' | translate) != 'FEMail' && ('FEMail' | translate) != ''">
                <a class="nav-link p-0 text-secondary" [attr.href]="'mailto: ' + ('FEMail' | translate)">
                    <i class="fal fa-envelope mr-2"></i>
                    <span>{{ 'FEMail' | translate }}</span>
                </a>
            </li>
        </nav>

        <hr class="m-0" />

        <nav class="nav flex-nowrap text-center p-3 ">
            <li class="nav-item flex-fill text-center"
                *ngIf="('FEHrefFacebook' | translate) != 'FEHrefFacebook' && ('FEHrefFacebook' | translate) != ''">
                <a class="nav-link p-0 text-secondary" [href]="('FEHrefFacebook' | translate)" target="_blank"
                    rel="noopener noreferrer">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </li>
            <li class="nav-item flex-fill text-center "
                *ngIf="('FEHrefInstagram' | translate) != 'FEHrefInstagram' && ('FEHrefInstagram' | translate) != ''">
                <a class="nav-link p-0 text-secondary" [href]="('FEHrefFacebook' | translate)" target="_blank"
                    rel="noopener noreferrer">
                    <i class="fab fa-instagram"></i>
                </a>
            </li>
            <li class="nav-item flex-fill text-center"
                *ngIf="('FEHrefZalo' | translate) != 'FEHrefZalo' && ('FEHrefZalo' | translate) != ''">
                <a class="nav-link p-0 text-secondary" [href]="('FEHrefZalo' | translate)" target="_blank"
                    rel="noopener noreferrer">
                    Zalo
                </a>
            </li>
            <li class="nav-item flex-fill text-center"
                *ngIf="('FEHrefYoutube' | translate) != 'FEHrefYoutube' && ('FEHrefYoutube' | translate) != ''">
                <a class="nav-link p-0 text-secondary" [href]="('FEHrefYoutube' | translate)" target="_blank"
                    rel="noopener noreferrer">
                    <i class="fab fa-youtube"></i>
                </a>
            </li>
        </nav>
    </div>
</div> -->

<div class="navbar-area sticky-top mr-0">
    <!-- <div *ngIf="width <= screenTabletMedium" class="mobile-nav mean-container">
        <div class="mean-bar">
            <a (click)="handleShow()" href="javascript:" class="meanmenu-reveal pt-0"
                style="display: grid; place-items: center; right: 0px; left: auto; text-align: center; text-indent: 0px; font-size: 20px;">
                <div *ngIf="isShow; then visible else hidden"></div>
                <ng-template #hidden>
                    <span class="w-100 mt-0">
                        <span>
                            <span></span>
                        </span>
                    </span>
                </ng-template>
                <ng-template #visible>X</ng-template>
            </a>
            <nav *ngIf="isShow" class="mean-nav" style="border-bottom: 1px solid rgba(0, 0, 0, 0.03);">
                <ul class="navbar-nav" style="border-bottom: 1px solid #f1f1f1;">
                    <li *ngFor="let item of menu.data" class="nav-item">
                        <a [routerLink]="['/' + item.link]" routerLinkActive="active" (click)="handleHidden()"
                            class="nav-link dropdown-toggle" style="font-size: 16px;">{{item.name}}</a>
                        <ul *ngIf="item.data?.length" class="dropdown-menu"
                            [ngClass]="toggleDropdown === +item.id ? 'd-block menu-clicked' : 'd-none'">
                            <li *ngFor="let itemChild of item.data" class="nav-item">
                                <a [routerLink]="['/' + itemChild.link]" (click)="handleHidden()" class="nav-link"
                                    style="font-size: 14px;">
                                    {{itemChild.name}}
                                </a>
                            </li>
                        </ul>
                        <a *ngIf="item.data?.length" class="mean-expand mr-2" href="javascript:"
                            style="width: 20px; padding: 0 !important; display: grid; place-items: center; height: 56px; font-size: 20px">
                            <span (click)="handleToggleDropdown(+item.id)" class="w-100 text-center">
                                {{toggleDropdown === +item.id ? '-' : '+'}}
                            </span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div> -->

    <div *ngIf="width > screenTabletMedium" class="main-nav position-relative">
        <nav class="navbar navbar-expand-md navbar-light p-0">
            <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li *ngFor="let item of menu.data" class="nav-item py-2">
                        <a style="font-size: 14px;" href="javascript:"
                            class="nav-link dropdown-toggle d-lg-inline-flex align-items-lg-baseline">{{item.name}} <i
                                *ngIf="item.data?.length" class='ml-1 far fa-angle-down'></i></a>
                        <ul *ngIf="item.data?.length" class="dropdown-menu">
                            <li *ngFor="let itemChild of item.data" class="nav-item">
                                <a [routerLink]="['/' + itemChild.link]"
                                    class="nav-link text-nowrap mx-0">{{itemChild.name}}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>

<!-- <div [ngClass]="isToggleSearch ? 'd-block' : 'd-none'" class="search-wrap">
    <div class="container search-inner">
        <i (click)="isToggleSearch = false" class='bx bx-x search-close' id="search-close"></i>
        <div class="search-cell">
            <form method="get">
                <div class="search-field-holder">
                    <input #searchElement (keyup.enter)="search.onSearch()" [(ngModel)]="search.value"
                        [ngModelOptions]="{standalone: true}" autocomplete="off" type="search" class="main-search-input"
                        placeholder="TÌM KIẾM TỪ KHÓA CỦA BẠN..." />
                </div>
            </form>
        </div>
    </div>
</div> -->

<!-- <app-modal-aboutUs *ngIf="aboutUs.data.name?.length" [aboutUs]="aboutUs.data"></app-modal-aboutUs> -->