// @import 'src/style/mixins';

// $fs-menu: 1.6rem;
// $inner-menu-y: 1.5rem 2.5rem;

// .menu-mobile {
//     // z-index: $primary-zIndex;
// }

// .hamburger {
//     width: 2.4rem;
//     height: 2rem;

//     &-container {
//         padding: 2.25rem 2.25rem 0;
//     }

//     ~ span {
//         font-size: 10px;
//     }

//     > span {
//         left: 0;
//         height: 1px;
//         // background-color: $textColor;
//         opacity: 1;
//         transition: 0.25s ease-in-out;

//         &:nth-child(1) {
//             top: 0;
//         }

//         &:nth-child(2) {
//             top: 0.5rem;
//         }

//         &:nth-child(3) {
//             top: 1rem;
//         }
//     }

//     &--open > span {
//         &:nth-child(1) {
//             top: 0.5rem;
//             transform: rotate(135deg);
//         }

//         &:nth-child(2) {
//             opacity: 0;
//             left: -1.5rem;
//         }

//         &:nth-child(3) {
//             top: 0.5rem;
//             transform: rotate(-135deg);
//         }
//     }
// }

// .navbar {
//     .dropdown-menu-item {
//         display: none;
//     }
//     .active .dropdown-menu-item {
//         display: block !important;
//     }
//     .active .level-1 span {
//         color: var(--primaryColor) !important;
//     }
//     .active a {
//         border-left-color: var(--primaryColor);
//     }
//     &-nav {
//         height: 87.5%;
//         // @include viewport-sm {
//             // height: 66%;
//         // }
//         overflow-y: scroll;
//         &::-webkit-scrollbar {
//             display: none;
//         }
//     }
// }

// .nav-social {
//     bottom: 0;
//     width: var(--width);
//     // @include viewport-sm {
//         // width: 100%;
//     // }
//     &-mail,
//     &-phone {
//         font-size: 1.5rem;
//     }
// }

// ul {
//     li {
//         & > a {
//             --border: #ececec;
//             // color: $textColor;
//             cursor: pointer;
//             &.level-1 {
//                 padding: $inner-menu-y;
//                 font-size: $fs-menu;

//                 border-bottom: 1px solid var(--border);
//                 border-left: 4px solid transparent;
//                 text-transform: uppercase;
//                 text-decoration: none;
//                 > i {
//                     font-size: $fs-menu + 0.75rem;
//                     transition: 0.25s ease-in-out;

//                     &.active-arrow {
//                         transform: rotate(-180deg);
//                     }
//                 }
//                 &:hover {
//                     background-color: var(--border);
//                 }
//             }
//             &.level-2 {
//                 padding: 0.75rem 2.75rem;
//                 font-size: $fs-menu;

//                 transition: 0.33s;
//                 text-decoration: none;
//                 &::after {
//                     content: '';
//                     position: absolute;
//                     left: 0.4rem;
//                     width: 0;
//                     height: 1px;
//                     background-color: var(--primaryColor);
//                 }
//                 &:hover {
//                     &::after {
//                         width: 1rem;
//                     }
//                     transform: translateX(1rem);
//                 }
//             }
//         }
//     }
// }

// .user {
//     padding: 1.5rem 2.75rem;

//     &-avatar {
//         --size: 2.1875rem;
//         width: var(--size);
//         height: var(--size);
//         line-height: var(--size);
//     }
//     &-info {
//         font-size: $fs-menu;
//     }
// }

.main-nav {
  background-color: transparent;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.main-nav.menu-shrink {
  padding-top: 10px;
  padding-bottom: 10px;
}

.main-nav nav {
  padding-top: 0;
  padding-bottom: 0;
}

.main-nav nav .navbar-nav {
  margin-left: 0;
  margin-right: auto;
}

.main-nav nav .navbar-nav .nav-item:first-child a {
  margin-left: 0;
}

.main-nav nav .navbar-nav .nav-item:hover a {
  color: var(--color-white);
}

.main-nav nav .navbar-nav .nav-item a {
  font-weight: 600;
  text-transform: unset;
  color: #333;
  margin-left: 16px;
  margin-right: 16px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: relative;
  
  &:hover {
    
    color: var(--color-primary) !important;
  }
}

.main-nav nav .navbar-nav .nav-item a:before {
  position: absolute;
  content: '';
  width: 0%;
  height: 1px;
  left: 0;
  bottom: 0;
  background-color: var(--color-white);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}

.main-nav nav .navbar-nav .nav-item a:hover,
.main-nav nav .navbar-nav .nav-item a:focus,
.main-nav nav .navbar-nav .nav-item a.active {
  color: var(--color-white);
}

.main-nav nav .navbar-nav .nav-item a:hover:before,
.main-nav nav .navbar-nav .nav-item a:focus:before,
.main-nav nav .navbar-nav .nav-item a.active:before {
  opacity: 1;
  visibility: visible;
  width: 50%;
}

.main-nav nav .navbar-nav .nav-item a i {
  display: inline-block;
  font-size: 18px;
  position: relative;
  top: 3px;
}

.main-nav nav .navbar-nav .nav-item:last-child a {
  margin-right: 0;
  padding-right: 0;
}

.main-nav nav .navbar-nav .nav-item .dropdown-menu {
  border-radius: 0;
  border: 0;
  padding: 0;
  background: #fff;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border-top: 3px solid  #02123a;
}

.main-nav nav .navbar-nav .nav-item .dropdown-menu li {
  border-bottom: 1px solid #f1f1f1;
}

.main-nav nav .navbar-nav .nav-item .dropdown-menu li:hover .dropdown-menu {
  top: -3px !important;
}

.main-nav nav .navbar-nav .nav-item .dropdown-menu li:hover a {
  color: var(--color-primary);
}

.main-nav nav .navbar-nav .nav-item .dropdown-menu li:last-child {
  border-bottom: 0;
}

.main-nav nav .navbar-nav .nav-item .dropdown-menu li a {
  font-size: 15px;
  font-weight: 600;
  text-transform: unset;
  padding: 12px 15px;
  color:  #02123a;
}

.main-nav nav .navbar-nav .nav-item .dropdown-menu li a:before {
  display: none;
}

.main-nav nav .navbar-nav .nav-item .dropdown-menu li a:hover,
.main-nav nav .navbar-nav .nav-item .dropdown-menu li a:focus,
.main-nav nav .navbar-nav .nav-item .dropdown-menu li a.active {
  color: var(--color-primary);
}

.main-nav nav .navbar-nav .nav-item .dropdown-menu li .dropdown-menu {
  right: -100%;
  left: unset;
  top: 15px;
}

.main-nav nav .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a {
  color:  #02123a;
  text-transform: unset;
}

.main-nav nav .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a:hover,
.main-nav nav .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a:focus,
.main-nav nav .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a.active {
  color: var(--color-primary);
}

.main-nav .dropdown-toggle::after {
  display: none;
}

.search-wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1021;
  background: rgba(0, 0, 0, 0.9);
}
.search-wrap .search-inner {
  position: relative;
  width: 100%;
  height: 100%;
}
.search-wrap .search-cell {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.search-wrap .search-field-holder {
  width: 67%;
  margin: auto;
  position: relative;
  -webkit-animation: slideInUp 0.3s;
  animation: slideInUp 0.3s;
}
@media (max-width: 767px), only screen and (min-width: 768px) and (max-width: 991px) {
  .search-wrap .search-field-holder {
    width: 80%;
  }
}
.search-wrap .main-search-input {
  width: 100%;
  height: 70px;
  border: 0;
  padding: 0 50px;
  // text-transform: uppercase;
  background: transparent;
  font-size: 25px;
  color: #fff;
  border-bottom: 2px solid #898989;
  text-align: center;
  letter-spacing: 2px;
  outline: none;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .search-wrap .main-search-input {
    padding: 0;
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .search-wrap .main-search-input {
    padding: 0;
    font-size: 20px;
  }
  .search-close {
    right: 1rem !important;
    font-size: 2.25rem !important;
  }
}
.search-wrap input.form-control,
.search-wrap input.form-control:focus {
  background-color: #fff;
}
input.main-search-input::-webkit-input-placeholder {
  color: #fff;
  font-size: 25px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  input.main-search-input::-webkit-input-placeholder {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  input.main-search-input::-webkit-input-placeholder {
    font-size: 16px;
  }
}
input.main-search-input:-moz-placeholder {
  color: #fff;
  opacity: 1;
  font-size: 25px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  input.main-search-input:-moz-placeholder {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  input.main-search-input:-moz-placeholder {
    font-size: 16px;
  }
}
input.main-search-input::-moz-placeholder {
  color: #fff;
  opacity: 1;
  font-size: 25px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  input.main-search-input::-moz-placeholder {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  input.main-search-input::-moz-placeholder {
    font-size: 16px;
  }
}
input.main-search-input:-ms-input-placeholder {
  color: #fff;
  font-size: 25px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  input.main-search-input:-ms-input-placeholder {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  input.main-search-input:-ms-input-placeholder {
    font-size: 16px;
  }
}
.search-close {
  position: absolute;
  top: 50px;
  right: 0;
  font-size: 3rem;
  color: #fff;
  cursor: pointer;
}
