<breadcrumb-component [input]="data"></breadcrumb-component>

<section class="page-inner" [ngSwitch]="initState">
    <ng-template [ngSwitchCase]="-1">
        <loading-component></loading-component>
    </ng-template>

    <div class="container">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-md-4 col-lg-3 page-list-group-container py-3 ">
                    <div class="position-sticky" style="top: 100px">
                        <ng-template [ngIf]="childrenPages.list?.length">
                            <a class="text-decoration-none cursor-pointer"
                                (click)="handleRouterPage(childrenPages.parent_code, childrenPages.parent_link, childrenPages.link)">
                                <h3
                                    class="h5 font-weight-bold color-primary pl-2 page-list-group__heading d-inline-block">
                                    {{ childrenPages.parent_name ? childrenPages.parent_name : childrenPages.name }}
                                </h3>
                            </a>
                            <div class="page-list-group list-group rounded-lg border-light mb-4 rounded-0 mt-2">
                                <a *ngFor="let children of childrenPages.list"
                                    [routerLink]="['/' + language + children.parent_link + '/' + children.link]"
                                    class="page-list-group__item list-group-item list-group-item-action py-2 border-0"
                                    [class.active]="+childrenPages.id === +children.id">
                                    {{ children.name }}
                                </a>
                            </div>
                        </ng-template>

                        <div class="list-group d-none d-md-block" *ngIf="banner.data.image">
                            <h3
                                class="h5 font-weight-bold text-uppercase color-primary pl-2 page-list-group__heading mb-3">
                                {{ 'FEPages.banner' | translate }}
                            </h3>
                            <a class="d-block" [href]="banner.data.link" target="_blank">
                                <img [src]="banner.data.image" [alt]="banner.data.name" class="img-fluid">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-8 col-lg-9 pl-md-4 mt-3 mt-lg-0">
                    <ng-template [ngSwitchCase]="1">
                        <ng-container [ngSwitch]="+data.type">
                            <ng-template [ngSwitchCase]="2">
                                <div id="page-detail" *ngIf="data.detail?.length"
                                    [innerHTML]="data.detail | sanitizeHtml">
                                </div>
                                <ng-template [ngIf]="!data.detail || data.detail.length == 0">
                                    <box-updating-component></box-updating-component>
                                </ng-template>
                            </ng-template>

                            <ng-template [ngSwitchCase]="4">
                                <div class="row" *ngIf="contents.data?.length">
                                    <div class="col-12" [ngClass]="item.parents_code !== 'analysis' &&  'col-lg-4'"
                                        *ngFor="let item of contents.data; last as last">
                                        <ng-template [ngIf]="item.parents_code !== 'analysis'">
                                            <box-content-component [item]="item">
                                            </box-content-component>
                                        </ng-template>

                                        <ng-template [ngIf]="item.parents_code === 'analysis'">
                                            <box-news-horizontal [input]="item"></box-news-horizontal>

                                            <hr class="my-0" style="border-color: #f4f5f7;" *ngIf="!last">
                                        </ng-template>

                                        <!-- <box-content-component [item]="item" class="d-block d-md-none" [type]="1">
                                        </box-content-component> -->
                                    </div>
                                    <div class="col-12 mt-4" *ngIf="page.cached.length > Pagination.itemsPerPage">
                                        <pagination class="d-flex justify-content-center"
                                            [totalItems]="page.cached.length"
                                            previousText="{{ 'FEbtn.previous' | translate }}"
                                            nextText="{{ 'FEbtn.next' | translate }}"
                                            [itemsPerPage]="Pagination.itemsPerPage" [maxSize]="Pagination.maxSize"
                                            (pageChanged)="Pagination.change($event)">
                                        </pagination>
                                    </div>
                                </div>
                                <ng-template [ngIf]="!contents.data || contents.data.length == 0">
                                    <box-updating-component></box-updating-component>
                                </ng-template>
                            </ng-template>
                        </ng-container>
                    </ng-template>

                    <ng-template [ngSwitchCase]="0">
                        <box-updating-component></box-updating-component>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</section>