<footer class="footer text-white">
    <div class="container">
        <!-- <div class="container-fluid"> -->
        <!-- <div class="footer-container py-3 px-md-5 px-lg-0">
            
        </div> -->
        <div class="row pt-5 pb-3">
            <div class="col-12 col-lg-3">
                <h6 class="mb-3">{{'lblAddressPrimary' | translate}}</h6>
                <span *ngIf="('FEDescription' | translate) != 'FEDescription' && ('FEDescription' | translate) != ''"
                    style="color: #7a869a !important">{{'FEDescription' | translate}}</span>

                <div class="mt-1"
                    *ngIf="('FEBusinessLicense' | translate) != 'FEBusinessLicense' && ('FEBusinessLicense' | translate) != ''">
                    <span>{{ 'FEBusinessLicense' | translate }}</span>
                </div>

                <div class="mt-2" *ngIf="('FEAddress' | translate) != 'FEAddress' && ('FEAddress' | translate) != ''">
                    <span class="mr-1">
                        <i class="fas fa-map-marker-alt mr-2 mr-lg-1 footer__contact-icon"></i>
                        <span style="color: #7a869a !important">{{ 'lblAddress' | translate }}:</span>
                    </span>
                    <span style="color: #7a869a !important">{{ 'FEAddress' | translate }}</span>
                </div>
                <div class="mt-2">
                    <div class="mt-1" *ngIf="('FEPhone' | translate) != 'FEPhone' && ('FEPhone' | translate) != ''">
                        <span class="mr-1">
                            <i class="fas fa-phone footer__contact-icon mr-2 mr-lg-1"></i>
                            <span style="color: #7a869a !important">{{ 'lblPhone' | translate }}:</span>
                        </span>
                        <a class="text-white" style="color: #7a869a !important" href="tel:{{ 'FEPhone' | translate }}">
                            {{ 'FEPhone' | translate }}
                        </a>
                    </div>

                    <div class="mt-1" *ngIf="('FEMail' | translate) != 'FEMail' && ('FEMail' | translate) != ''">
                        <span class="mr-1">
                            <i class="fas fa-envelope footer__contact-icon mr-2 mr-lg-1"></i>
                            <span style="color: #7a869a !important">{{ 'lblEmail' | translate }}:</span>
                        </span>
                        <a class="text-white" style="color: #7a869a !important" href="tel:{{ 'FEMail' | translate }}">
                            {{ 'FEMail' | translate }}
                        </a>
                    </div>
                </div>

                <div class="mt-1" *ngIf="('FEFax' | translate) != 'FEFax' && ('FEFax' | translate) != ''">
                    <span class="mr-1">
                        <i class="fas fa-fax footer__contact-icon mr-1"></i>
                        {{ 'lblFax' | translate }}:
                    </span>
                    <span>{{ 'FEFax' | translate }}</span>
                </div>
            </div>
            <div class="col-6 col-lg-3 mt-3 mt-lg-0">
                <h6 class="mb-3">{{'lblProductsServices' | translate}}</h6>
                <ul class="list-unstyled">
                    <li *ngFor="let item of service.data" class="my-2">
                        <a class="text-white text-decoration-none" style="color: #7a869a !important"
                            [routerLink]="'/' + item.link">{{item.name}}</a>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-lg-3 mt-3 mt-lg-0">
                <h6 class="mb-3">{{'lblAnalysisCenter' | translate}}</h6>
                <ul class="list-unstyled">
                    <li *ngFor="let item of about.data" class="my-2">
                        <a class="text-white text-decoration-none" style="color: #7a869a !important"
                            [routerLink]="'/' + item.link">{{item.name}}</a>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-lg-3 mt-3 mt-lg-0">
                <div class="d-flex d-lg-block justify-content-between">
                    <div class="col-6 col-lg-12 p-0">
                        <h6 class="mb-3">{{'lblSupportAdvise' | translate}}</h6>
                        <ul class="list-unstyled">
                            <li *ngFor="let item of policy.data" class="my-2">
                                <a class="text-white text-decoration-none" style="color: #7a869a !important"
                                    [routerLink]="'/' + item.link">{{item.name}}</a>
                            </li>
                        </ul>
                    </div>
                    
                    <div class="col-6 col-lg-12 p-0">
                        <h6 class="mb-3">{{'lblDownloadApp' | translate}}</h6>
                        <div class="">
                            <div *ngFor="let item of downloadApp.data" class="mt-2">
                                <a [href]="item.link" target="_blank">
                                    <img [src]="item.images" [alt]="item.name" class="img-fluid" width="50%">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr class="m-0" style="background-color: #7a869a !important;" />

        <ul class="footer-listLast nav flex-wrap flex-lg-nowrap mx-auto py-2 justify-content-center">
            <li *ngFor="let item of resource.data; index as index; last as last">
                <a class="text-white text-decoration-none px-2" style="color: #7a869a !important"
                    [ngClass]="!last ? 'border-right' : ''" [routerLink]="'/' + item.link">{{item.name}}</a>
            </li>
        </ul>
        <hr class="m-0" style="background-color: #7a869a !important;" />

        <div class="d-flex flex-wrap flex-lg-nowrap justify-content-center justify-content-lg-between align-items-center py-2">
            <div class="d-flex order-1 order-lg-0" style="font-size: 13px; color: #7a869a !important">
                <p class="mb-0">
                    <i class="far fa-copyright"></i>
                    {{ 'copyright' | translate }}
                </p>
                <span class="mr-1">. Powered by </span>
                <a class="text-decoration-none" href="https://chips.vn" target="_blank"
                    style="color: #7a869a !important" rel="noopener noreferrer">Chips</a>
            </div>
            <div class="d-flex footer-social order-0 order-lg-1 mb-1 mb-lg-0">
                <a *ngIf="('FEHrefFacebook' | translate) != 'FEHrefFacebook' && ('FEHrefFacebook' | translate) != ''"
                    href="{{ 'FEHrefFacebook' | translate }}">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a *ngIf="('FEHrefZalo' | translate) != 'FEHrefZalo' && ('FEHrefZalo' | translate) != ''"
                    href="{{ 'FEHrefZalo' | translate }}" class="text-decoration-none font-weight-bold">
                    Zalo
                </a>
                <a *ngIf="('FEHrefTwitter' | translate) != 'FEHrefTwitter' && ('FEHrefTwitter' | translate) != ''"
                    href="{{ 'FEHrefTwitter' | translate }}">
                    <i class="fab fa-twitter"></i>
                </a>
                <a *ngIf="('FEHrefSkype' | translate) != 'FEHrefSkype' && ('FEHrefSkype' | translate) != ''"
                    href="{{ 'FEHrefSkype' | translate }}">
                    <i class="fab fa-skype"></i>
                </a>
            </div>
            
        </div>
        <!-- </div> -->
    </div>
</footer>