<!-- <header id="header">
    <div class="header-top">
        <div class="container">
            <div class="container-fluid">
                <div class="d-flex justify-content-lg-between align-items-lg-center">
                    <div class="contact d-none d-md-flex flex-md-wrap flex-lg-nowrap">
                        <a *ngIf="('FEMail' | translate) != 'FEMail' && ('FEMail' | translate) != ''"
                            href="mailto:{{ 'FEMail'|translate }}" class="text-decoration-none pr-4">
                            <i class="fas fa-envelope header-icon--color mr-1"></i>
                            {{ 'FEMail'|translate }}
                        </a>
                        <a *ngIf="('FEPhone' | translate) != 'FEPhone' && ('FEPhone' | translate) != ''"
                            href="tel:{{ 'FEPhone'|translate }}" class="text-decoration-none">
                            <i class="fas fa-phone-alt header-icon--color mr-1"></i>
                            {{ 'FEPhone'|translate }}
                        </a>
                    </div>

                    <div
                        class="header-top-right d-flex flex-md-wrap flex-lg-nowrap justify-content-between justify-content-md-end align-items-center align-items-lg-center">
                        <div class="header-social">
                            <a target="_blank" [href]="('FEHrefFacebook' | translate)"
                                *ngIf="('FEHrefFacebook' | translate) != 'FEHrefFacebook'"
                                class="footer-social mr-3 mr-md-4">
                                <i class="fab fa-facebook-f header-icon--color"></i>
                            </a>
                            <a target="_blank" [href]="('FEHrefZalo' | translate)"
                                *ngIf="('FEHrefZalo' | translate) != 'FEHrefZalo'"
                                class="footer-social mr-3 mr-md-4 text-decoration-none font-weight-bold header-icon--color">
                                Zalo
                            </a>
                            <a target="_blank" href="mailto: {{ 'FEMail' | translate }}"
                                *ngIf="('FEMail' | translate) != 'FEMail'" class="footer-social mr-3 mr-md-4">
                                <i class="fas fa-envelope header-icon--color"></i>
                            </a>
                            <a target="_blank" href="tel: {{ 'FEPhone' | translate }}"
                                *ngIf="('FEPhone' | translate) != 'FEPhone'" class="footer-social mr-md-0 mr-lg-4">
                                <i class="fas fa-phone-alt header-icon--color"></i>
                            </a>
                        </div>
                        <form action="" class="d-flex align-items-center">
                            <input type="search" id="search" (keyup.enter)="search.onSearch();"
                                [ngModelOptions]="{standalone: true}" [(ngModel)]="search.value" autocomplete="off"
                                class="form-control form-control-sm input-search p-0 rounded-0"
                                placeholder="{{ 'FESearch.search'|translate }}">

                            <div class="cursor-pointer" style="font-size: 15px;" (click)="search.onSearch()">
                                <i class="far fa-search"></i>
                            </div>
                        </form>
                    </div>
                </div>

                <hr class="m-0" />
            </div>
        </div>
    </div>

    <div id="header-center" class="header-center">
        <div class="container">
            <div class="container-fluid">
                <div class="d-flex align-items-center justify-content-between my-1">
                    <span>
                        <a *ngIf="company.logo?.length" [routerLink]="['/' + mutiLang.active.code]">
                            <img class="logo-header" [src]="company.logo" [title]="company.name" [alt]="company.name" />
                        </a>
                    </span>

                    <div class="d-none d-md-block" [innerHTML]="('FECompanyNameEditor' | translate) | sanitizeHtml"
                        *ngIf="('FECompanyNameEditor' | translate) != 'FECompanyNameEditor' && ('FECompanyNameEditor' | translate) != ''">
                    </div>

                    <div class="d-flex align-items-baseline d-md-block">
                        <div class="d-flex flex-wrap flex-md-nowrap justify-content-end align-items-center">
                            <div class="language d-flex align-items-center justify-content-between ml-3"
                                *ngFor="let item of mutiLang.data; let i = index" (click)="onLanguage(item.id)">
                                <img [src]="item.icon" alt="" width="18">
                                <span class="text-uppercase ml-1"
                                    [ngClass]="{'language-active': item.id == mutiLang.active.id }">
                                    {{item.code}}
                                </span>
                            </div>
                        </div>
                        <div class="d-block d-md-none text-right ml-3">
                            <button (click)="menuMobile.onMenu(!menuMobile.show)"
                                class="btn bg-transparent nav-open-btn px-0 pt-0"
                                [ngClass]="{'active': menuMobile.show == false }">
                                <span class="line line1"></span>
                                <span class="line line2"></span>
                                <span class="line line3"></span>
                            </button>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="d-none d-lg-flex justify-content-center">
                        <app-menu></app-menu>
                    </div>

                    <div class="d-none d-md-block d-lg-none text-right">
                        <button (click)="menuMobile.onMenu(!menuMobile.show)"
                            class="btn bg-transparent nav-open-btn px-0 pt-0"
                            [ngClass]="{'active': menuMobile.show == false }">
                            <span class="line line1"></span>
                            <span class="line line2"></span>
                            <span class="line line3"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

 -->

<header class="header">
    <div class="header-top">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center py-1">
                <div class="btn-group header-language">
                    <button
                        class="btn bg-transparent btn-sm dropdown-toggle d-inline-flex align-items-center text-white"
                        type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="{{mutiLang.active.icon}}" alt="{{mutiLang.active.name}}" height="12" width="16">
                        <span class="ml-2">{{mutiLang.active.name}}</span>
                    </button>

                    <div class="dropdown-menu">
                        <a (click)="onLanguage(item.id)" *ngFor="let item of mutiLang.data"
                            class="header-language__item dropdown-item d-inline-flex align-items-center text-capitalize text-decoration-none"
                            href="javascript:">
                            <img src="{{item.icon}}" height="12" width="16" alt="{{item.name}}">
                            <span class="text-dark ml-2">{{item.name}}</span>
                        </a>
                    </div>
                </div>

                <div class="d-flex align-items-center">
                    <div class="d-none d-lg-block">
                        <ul class="header-contact list-unstyled nav">
                            <li *ngIf="('FEPhone' | translate) !== 'FEPhone' && ('FEPhone' | translate) !== ''">
                                <i class="fas fa-envelope mr-1"></i>
                                <a class="text-decoration-none text-white"
                                    href="tel:{{'FEPhone' | translate}}">{{'FEPhone'
                                    |
                                    translate}}</a>
                            </li>
                            <li *ngIf="('FEMail' | translate) !== 'FEMail' && ('FEMail' | translate) !== ''"
                                class="ml-3">
                                <i class="fas fa-phone-alt mr-1"></i>
                                <a class="text-decoration-none text-white"
                                    href="tel:{{'FEMail' | translate}}">{{'FEMail' |
                                    translate}}</a>
                            </li>
                        </ul>
                    </div>

                    <a (click)="handleToggleSearch()" href="javascript:" class="ml-3">
                        <i class="far fa-search"></i>
                    </a>

                    <a target="_blank" class="btn btn-sm ml-3" href="{{'FESignIn' | translate}}"
                        style="background-color: orange;">
                        <i class="fas fa-user-circle mr-1"></i>
                        <span class="mb-icon d-none d-lg-inline">
                            {{'FEbtn.login' | translate}}
                        </span>
                    </a>
                    <a target="_blank" class="btn btn-sm btn-info ml-2" href="{{'FESignUp' | translate}}">
                        <i class="fas fa-lock-open mr-1"></i>
                        <span class="mb-icon d-none d-lg-inline">
                            {{'lblOpenAccount' | translate}}
                        </span>
                    </a>
                    <a target="_blank" class="btn btn-sm btn-primary ml-2" href="{{'FEStockBoard' | translate}}">
                        <i class="far fa-sync-alt fa-spin mr-1"></i> <span class="mb-icon d-none d-lg-inline">
                            {{'lblStockBoard' | translate}}
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="header-nav nav">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center my-lg-2">
                <a [routerLink]="['/']">
                    <img [src]="company.logo" height="70" width="110" style="object-fit: contain;"
                        [alt]="company.name" />
                </a>

                <ng-template [ngIf]="width > 425">
                    <app-menu></app-menu>
                </ng-template>

                <div *ngIf="width <= 425" class="">
                    <button (click)="menuMobile.onMenu(!menuMobile.show)" class="btn bg-transparent nav-open-btn"
                        [ngClass]="{'active': menuMobile.show == false }">
                        <span class="line line1 d-block bg-dark"></span>
                        <span class="line line1 d-block bg-dark"></span>
                        <span class="line line1 d-block bg-dark"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</header>

<div [ngClass]="isToggleSearch ? 'd-block' : 'd-none'" class="search-wrap">
    <div class="container search-inner">
        <i (click)="isToggleSearch = false" id="search-close" class="fal fa-times search-close"></i>

        <div class="search-cell">
            <form method="get">
                <div class="search-field-holder">
                    <input #searchElement (keyup.enter)="search.onSearch()" [(ngModel)]="search.value"
                        [ngModelOptions]="{standalone: true}" autocomplete="off" type="search" class="main-search-input"
                        placeholder="TÌM KIẾM TỪ KHÓA CỦA BẠN..." />
                </div>
            </form>
        </div>
    </div>
</div>

<div id="menu-mobi" class="menu-mobi w-100" [ngClass]="!menuMobile.show ? 'd-block' : 'd-none'">
    <app-menu-mobile class="d-block d-lg-none" (menumobile)="menuMobile.onMenu(!menuMobile.show)"></app-menu-mobile>
</div>