/* Reset */

:root {
    --color-primary: #{$color-primary};
    // --color-secondary: #{$colorSecondary};
    // --color-text: #{$colorText};
}

body {
    max-width: 1920px;
    margin: 0 auto;
    font-family: $font-primary;
    // font-size: 17px;
    // color: #35405c;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: $w-scrollbar;

    &-thumb {
        border-radius: $w-scrollbar;
        background-color: #c1c1c1;
    }

    &-track {
        background-color: #f1f1f1;
    }
}

// img {
//     transform: translateZ(0);
// }

// .container {
//     max-width: $w-container;
//     margin: 0 auto;
// }

.cursor-pointer {
    cursor: pointer;
}

// #page-detail {
//     img {
//         max-width: 100%;
//         height: auto;
//     }
// }
